<div class="reservation-summary-wrapper">
  <h2 class="section-title">Podsumowanie rezerwacji</h2>

  <div class="summary-details">
    @if (store.isReceptionMode()) {
    <div class="summary-row">
      <span class="label">Imię użytkownika:</span>
      <span class="value">{{ store.externalName() }}</span>
    </div>
    <div class="summary-row">
      <span class="label">Numer telefonu:</span>
      <span class="value">{{ store.externalPhone() }}</span>
    </div>
    <div class="summary-row">
      <span class="label">Członek Klubu:</span>
      <span class="value">{{
        store.externalIsClubMember() ? "Tak" : "Nie"
      }}</span>
    </div>
    }
    <div class="summary-row">
      <span class="label">Sala:</span>
      <span class="value">{{ store.selectedRoom() }}</span>
    </div>
    <div class="summary-row">
      <span class="label">Data:</span>
      <span class="value">{{ formattedDate() }}</span>
    </div>
    <div class="summary-row">
      <span class="label">Godzina:</span>
      <span class="value">{{ store.selectedStartTime() }}</span>
    </div>
    <div class="summary-row">
      <span class="label">Czas trwania:</span>
      <span class="value">{{ store.selectedDuration() }}h</span>
    </div>
    <div class="summary-row">
      <span class="label">MG potrzebny:</span>
      <span class="value">{{ store.needsGm() ? "Tak" : "Nie" }}</span>
    </div>
    @if (store.needsGm() && store.selectedGm()) {
    <div class="summary-row">
      <span class="label">Wybrany MG:</span>
      <span class="value">{{ gmDisplayName }}</span>
    </div>
    }
  </div>
</div>
