@import "abstracts/variables";

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  object-fit: contain;
  filter: $icon-filter-dark;
}

.icon-dark {
  filter: $icon-filter-dark;
}
