<div class="component-container">
  <h2 class="section-title">Poznaj nasz zespół</h2>
  <div class="description">
    Zespół Ragnaroku to grupa kreatywnych osób, których pasja i zaangażowanie
    sprawiają, że każda sesja RPG w Ragnaroku staje się wyjątkowym przeżyciem.
    Każdy detal w Ragnaroku jest efektem współpracy, której celem jest
    zapewnienie graczom wyjątkowego doświadczenia. Dzięki naszej wspólnej pracy
    i zaangażowaniu, Ragnarok oferuje przestrzeń, która inspiruje do
    niezapomnianych przygód.
  </div>
  <div class="image-banner-container">
    <img src="strip.avif" alt="Banner for services" class="image-banner" />
  </div>
  @if (!isLoading()) {
  <app-carousel [items]="techStack()"></app-carousel>
  }
</div>
