<div class="menu-panel d-flex flex-column align-items-center">
  <span class="menu-title fw-bold text-center">Witaj, {{ username }}!</span>

  <div class="w-100 mt-3">
    <div class="text-muted fw-semibold text-uppercase small mb-2 text-center">Strefa użytkownika</div>
    <a class="menu-item w-100 text-center" href="/auth/edit-data">Edytuj dane</a>
    <a class="menu-item w-100 text-center" href="/auth/reservation">Rezerwuj salkę</a>
    <a class="menu-item w-100 text-center" href="/auth/my-reservations">Moje rezerwacje</a>
  </div>

  @if (isMember) {
  <hr class="menu-divider w-100 my-3" />
  <div class="w-100">
    <div class="text-muted fw-semibold text-uppercase small mb-2 text-center">
      Strefa Klubowicza
    </div>
    <a class="menu-item w-100 text-center" href="/auth/create-team">Załóż drużynę</a>
    <a class="menu-item w-100 text-center" href="/auth/my-teams">Moje drużyny</a>
  </div>
}

@if (isGm) {
  <hr class="menu-divider w-100 my-3" />
  <div class="w-100">
    <div class="text-muted fw-semibold text-uppercase small mb-2 text-center">
      Strefa Mistrza Gry
    </div>
    <a class="menu-item w-100 text-center" href="/auth/manage-gm">Profil Mistrza Gry</a>
    <a class="menu-item w-100 text-center" href="/auth/upcoming-sessions">Nadchodzące sesje</a>
    <a class="menu-item w-100 text-center" href="/auth/availability">Twoja dostępność</a>
  </div>
}

  @if (isAdminSection) {
    <hr class="menu-divider w-100 my-3" />
    <div class="w-100">
      <div class="text-muted fw-semibold text-uppercase small mb-2 text-center">Strefa Admina</div>
      <!-- <a class="menu-item w-100 text-center" href="/admin/dashboard">Panel administratora</a> -->
      <a class="menu-item w-100 text-center" href="/auth/guest-reservation">Nowa Rezerwacja</a>
      <a class="menu-item w-100 text-center" href="/auth/reservations-calendar">Kalendarz Rezerwacji</a>
      <!-- Inne opcje w przyszłości -->
    </div>
  }

  <hr class="menu-divider w-100 my-3" />
  <a class="menu-item w-100 text-center" href="#" (click)="logout()">Wyloguj</a>
</div>
