@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: flex;
  height: auto;
  align-items: start;
  justify-content: center;
  gap: 10px;
  margin: 10px;

  @media (orientation: landscape) and (max-width: $breakpoint-md) {
    min-height: unset;
    height: auto;
  }
}

// .login-container {
//     height: 100vh;
//   }

.form-control {
  border-radius: 0.375rem; /* Zaokrąglenie rogów */
}

.invalid-feedback {
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .custom-card {
    max-width: 90%;
  }
}
