<div class="component-container">
  <div class="cta-container">
    <a href="#tech-stack" class="cta-button">Sprawdź nasze technologie</a>
  </div>

  <div class="about-container">
    <div class="about-paragraph">
      Jesteśmy zespołem doświadczonych programistów front-end, specjalizujących
      się w technologiach takich jak Angular, JavaScript i TypeScript. Posiadamy
      solidne, wieloletnie doświadczenie w pracy nad złożonymi platformami, w
      tym dla branży ubezpieczeniowej, gdzie rozwijaliśmy i optymalizowaliśmy
      aplikacje przy użyciu RxJS, NgRx, Bootstrap oraz React. Nasze umiejętności
      obejmują tworzenie interaktywnych aplikacji internetowych oraz sklepów
      online, a także optymalizację SEO i responsywność stron. Dbamy o wydajność
      aplikacji oraz czystość kodu, co pozwala nam na efektywne rozwijanie
      projektów.
    </div>
    <div class="about-paragraph">
      Nasze doświadczenie obejmuje również zarządzanie infrastrukturą oraz
      wdrażanie rozwiązań chmurowych na platformach takich jak AWS i Azure.
      Wspólnie poszerzamy nasze kompetencje w zakresie technologii
      back-endowych, w szczególności C# i Java (Spring), a także gotowych
      rozwiązań backendowych, takich jak Strapi, Google Firebase i inne. Dzięki
      zespołowej pracy możemy szybko adaptować się do zmieniających się potrzeb
      rynku.
    </div>
    <div class="about-paragraph">
      Nasi specjaliści z doświadczeniem w obszarze Service Desk oraz doradztwa
      klienta zdobyli umiejętności w zakresie profesjonalnej obsługi,
      rozwiązywania problemów technicznych oraz efektywnej komunikacji z
      klientami w różnych językach. Współpracując, jesteśmy w stanie dostarczać
      wysokiej jakości wsparcie techniczne oraz doradztwo, co przekłada się na
      lepszą jakość naszych usług zarówno na froncie, jak i back-endzie.
    </div>
    <div class="about-paragraph">
      Dzięki naszemu zróżnicowanemu doświadczeniu możemy zapewnić kompleksową
      obsługę oraz wsparcie w rozwoju aplikacji. Dbamy zarówno o techniczne
      aspekty kodowania, jak i o pełne zrozumienie potrzeb klienta, co pozwala
      nam na tworzenie rozwiązań idealnie dopasowanych do oczekiwań naszych
      użytkowników.
    </div>
  </div>
</div>
