<div class="component-container">
  <div class="cta-container">
    <a href="/contact" class="cta-button">Sprawdź, gdzie nas znaleźć</a>
  </div>

  <div class="about-container" #scrollContainer>
    <div class="about-paragraph">
      Witaj w <strong>„Ragnaroku”</strong> – miejscu, gdzie
      <strong>epickie historie RPG</strong> ożywają, a heroiczne czyny stają się
      codziennością. Za tą inicjatywą stoją doświadczeni
      <strong>Mistrzowie Gry</strong> i <strong>gracze</strong>, którzy swoje
      pierwsze kości turlali jeszcze w latach 90. Nasze doświadczenie to
      prawdziwy skarb – sięga czasów, gdy o „krytyku” mówiło się tylko w
      kontekście stołu i kostki, a <strong>gry fabularne</strong> nie miały
      konkurencji w postaci wirtualnych światów.
    </div>

    <div class="about-paragraph">
      <strong>„Ragnarok”</strong> to nie tylko nazwa – to nasza filozofia. W
      nordyckiej mitologii <strong>Ragnarok</strong> zwiastował zarówno koniec
      świata, jak i początek nowego. I właśnie takim
      <strong>nowym początkiem</strong> chcemy być dla każdej drużyny, która
      przekroczy nasze progi. <strong>Nasze salki</strong> oferują miejsce,
      gdzie możesz w spokoju (lub w pełnym epickim chaosie)
      <strong>walczyć z bogami</strong>, eksplorować lochy i tworzyć
      niezapomniane historie.
    </div>

    <div class="about-paragraph">
      Czy jesteś nowicjuszem, który dopiero odkrywa tajniki
      <strong>gier RPG</strong>, czy weteranem, który zna każdy
      <strong>system RPG</strong> na pamięć – u nas znajdziesz coś dla siebie.
      <strong>Nasze salki</strong> wyposażone są tak, by zapewnić idealne
      warunki do rozgrywek: od wygodnych foteli, przez klimatyczne oświetlenie,
      aż po atmosferę, która sprzyja <strong>opowieściom</strong> {{ " " }}
      <strong>pełnym przygód</strong>. Bo w <strong>„Ragnaroku”</strong>
      wiemy jedno – każdy rzut kostką to szansa na kolejny sukces!
    </div>

    <div class="about-paragraph">
      Zatem zbierz drużynę, naostrzcie swoje wyimaginowane miecze i przygotujcie
      się na przygodę. Bo w „Ragnaroku” wiemy jedno – dobry rzut na inicjatywę
      może zmienić wszystko.
    </div>
  </div>
</div>
