@import "abstracts/variables";
@import "abstracts/mixins";

.about-section {
  background-color: $bg-color;
  color: $text-color;
  padding: 3rem 2rem;

  @media screen and (max-width: $breakpoint-md) {
    max-width: $container-width-full;
    padding: 3rem 0;
    
  }

  .container {
    max-width: $container-width-lg;
    margin: 0 auto;
    text-align: center;
  }

  .section-title {
    font-size: $font-size-xxl;
    margin-bottom: 1rem;
    @include gold-gradient-text;
  }

  .section-subtitle {
    font-size: $font-size-md;
    color: $secondary-text-color;
    margin-bottom: 3rem;
    max-width: $container-width-md;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }

    .about-paragraph {
      font-size: $font-size-md;
      line-height: 1.8;
      opacity: 0.9;
    }
  }
}
