@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/components";

.event-calendar-section {
  @include section-wrapper;

  .section-subtitle {
    font-size: $font-size-sm;
    margin-bottom: 2rem;
    text-align: justify;
    opacity: 0.9;
  }

  .event-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .event-header {
    font-size: $font-size-xl;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.5rem;
  }
}
