@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/components";

.gm-selection-wrapper {
  @include section-wrapper;
  @include flex-wrapper(column, center, center);

  .gm-grid {
    @include flex-wrapper(row, center, center);
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;

    .btn.active {
      background-color: $primary-color;
      color: $button-text-color;
    }
  }
}
