@import "abstracts/variables";
@import "abstracts/mixins";

.gm-card-modal {
  @include flex-wrapper(column, flex-start, center);
  gap: 2rem;

    .card-dark {
    --card-border: #{$primary-color}; 
    --card-fg:     #{$primary-color}; 
    }

  .gm-top-row {
    @include flex-wrapper(row, flex-start, stretch);
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .avatar-card {
      flex: 0 0 250px;
      min-width: 250px;
      max-width: 100%;
      padding: 0.25rem;
      @include flex-wrapper(row, center, center);

      @media (max-width: $breakpoint-md) {
        width: 100%;
        flex: 1;
      }

      .gm-card-avatar {
        width: 250px;
        height: 250px;
      }

    }
    
    .info-card {
      flex: 2 1 0;
      padding: 1rem;
      height: auto;
      max-height: 250px;
      @include flex-wrapper(column, flex-start, flex-start);
      border: 1px solid $primary-color;
      
      .card-text-dark {
        margin-bottom: 0.5rem;
        align-self: flex-start;
      }
      
      .badge {
        font-size: 0.75rem;
        padding: 0.25rem 0.6rem;
        border-radius: 999px;
      }
    }
    @media (max-width: $breakpoint-sm) {
      @include flex-wrapper(column, start, center);

      .info-card {
        width: 100%;
      }
    }
  }

  .gm-mid-row {
    @include flex-wrapper(row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    > div {
      flex: 1 1 300px;
      padding: 1rem;
    }

    .card-dark {
      min-height: 157px;
      height: 100%;
    }
  }

  .gm-bottom-row {
    padding: 1rem;
    width: 100%;

    .experience {
      align-self: start;
    }

    .empty:not(:last-of-type) {
      height: 1rem;
    }
  }

  .gm-card-avatar {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $primary-color;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gm-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .gm-card-tag {
      background-color: $primary-color;
      color: $bg-color;
      padding: 0.25rem 0.75rem;
      border-radius: 1rem;
      font-size: 0.75rem;
    }
  }

  .truncate-3 {
    @include truncate-lines(3);
  }
}
