@import "abstracts/variables";
@import "abstracts/mixins";

.my-reservations-wrapper {
  @include section-wrapper;
}

.my-reservations-wrapper .card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-sm;
  margin-bottom: 0.75rem;

}