@import "abstracts/variables";
@import "abstracts/mixins";

.nav-bar {
  width: 100%;
  height: $navbar-height;
  z-index: 999;
  background-color: $primary-color;
  @include flex-wrapper(row, space-between, center);
  gap: 15px;

  // Ustawienie dla breakpointu $breakpoint-sm
  @media (max-width: $breakpoint-sm) {
    position: fixed!important;   // Przyspawanie navbaru do góry
    top: 0;           // Górna krawędź
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $primary-color;
    flex-wrap: nowrap;
  }

  .navbar-brand {
    @include responsive-font-size(18px);
    font-weight: bold;
    padding: 0;
    padding-left: 10px;
    color: $bg-color;
    &:hover {
      border: unset;
    }

    // Zmiana ustawienia dla mniejszych ekranów
    @media (max-width: $breakpoint-sm) {
      position: sticky!important;
    }
  }

  // Standardowe menu nawigacyjne
  .nav-bar-nav {
    list-style: none;
    text-align: center;
    margin: 0;

    @media (max-width: $breakpoint-mid) {
      flex-wrap: wrap;
      height: 100%;
    }

    @media (max-width: $breakpoint-sm) {
      justify-content: space-around;
      width: 100%;
    }

    li {
      margin-right: 1rem;
      @media (max-width: $breakpoint-sm) {
        margin-right: 0%;
      }
      a {
        color: $bg-color;
        @include responsive-font-size(11px);
      
        @media (max-width: $breakpoint-sm) {
          text-align: center;
        }
      
        &:hover {
          border-color: $bg-color;
        }
      }
    }
  }

  // Ukrycie menu dla mobilnych
  @media (max-width: $breakpoint-sm) {
    .nav-bar-nav {
      display: none;
    }
  }

  .offcanvas-toggle {
    background: none;
    border: none;
    color: $bg-color;
    cursor: pointer;
    padding-right: 10px;

    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }
}
