@import "abstracts/variables";

.navbar {
  top: 0;            // Górna krawędź
  left: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 999;
  background-color: $primary-color;
  @include flex-wrapper(row, space-between, center);
  padding: 0 1rem;

  // Ustawienie dla breakpointu $breakpoint-sm
  @media (max-width: $breakpoint-sm) {
    position: fixed!important;   // Przyspawanie navbaru do góry
    top: 0;           // Górna krawędź
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $primary-color;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;

    // Zmiana ustawienia dla mniejszych ekranów
    @media (max-width: $breakpoint-sm) {
      position: sticky!important;
    }
  }

  // Standardowe menu nawigacyjne
  .navbar-nav {
    list-style: none;
    text-align: center;
    @include flex-wrapper(row);

    @media (max-width: $breakpoint-sm) {
      justify-content: space-around;
      width: 100%;
    }

    li {
      margin-right: 2rem;
      @media (max-width: $breakpoint-sm) {
        margin-right: 0%;
      }
      a {
        text-decoration: none;
        color: $bg-color;
        @include responsive-font-size(11px);

        @media (max-width: $breakpoint-sm) {
          text-align: center;
        }
        &:hover {
          border: 1px solid $bg-color;
          border-radius: 5px;
          box-sizing: border-box;
        }
      }
    }
  }

  // Ukrycie menu dla mobilnych
  @media (max-width: $breakpoint-sm) {
    .navbar-nav {
      display: none;
    }
  }

  // Przycisk otwierający offcanvas
  .offcanvas-toggle {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: $bg-color;
    cursor: pointer;
    padding-right: 10px;

    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }
}
