@import "abstracts/variables";
@import "abstracts/mixins";

.reservations-grid {
  @include mg-grid(3);
  justify-content: center;
  justify-items: center;

  &.one-reservation {
    @include mg-grid(1, false);
  }

  &.two-reservations {
    @include mg-grid(2);
    max-width: 740px;
  }
}

.centered-reservation {
  display: flex;
  justify-content: center;

  .reservation-card {
    max-width: 600px;
  }
}
