@import "abstracts/variables";
@import "abstracts/mixins";

.room-selection-wrapper {
  @include section-wrapper;
  @include flex-wrapper(column, flex-start, stretch);
  gap: 1rem;

  .room-buttons {
    @include flex-center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .btn {
      margin: 0.5rem;

      &.active {
        background-color: $primary-color;
        color: $button-text-color;
      }
    }
  }
}