@import "abstracts/variables";
@import "abstracts/mixins";

.services-section {
  background-color: $bg-color;
  color: $text-color;
  padding: 3rem 2rem;
  @media screen and (max-width: $breakpoint-md) {
    max-width: $container-width-full;
    padding: 3rem 0;
  }

  .container {
    max-width: $container-width-lg;
    margin: 0 auto;
  }

  .section-title {
    font-size: $font-size-xxl;
    margin-bottom: 1rem;
    text-align: center;
    @include gold-gradient-text;
  }

  .section-subtitle {
    font-size: $font-size-md;
    color: $secondary-text-color;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.6;
    max-width: $container-width-md;
    margin-left: auto;
    margin-right: auto;
  }

  .price-category {
    margin-bottom: 3rem;

    h3 {
      font-size: $font-size-xl;
      margin-bottom: 0.5rem;
      color: $primary-color;
    }

    p {
      font-size: $font-size-sm;
      margin-bottom: 1rem;
      opacity: 0.9;
    }

    .disclaimer {
      font-size: $font-size-sm;
      color: $secondary-text-color;
      margin-top: 1rem;
      line-height: 1.5;

      button {
        color: $primary-color;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        font-size: $font-size-sm;
        text-decoration: underline;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
