@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/components";

.tech-stack-section {
  @include section-wrapper;

  .mg-grid {
    @include mg-grid(4);
  }

  .mg-card {
    border: 1px solid $border-color;
    box-shadow: $card-shadow;
    transition: transform $transition-fast, box-shadow $transition-fast;
    cursor: pointer;
    min-height: 365px;

    .mg-avatar {
      width: 120px;
      height: 120px;
      margin-bottom: 1rem;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }

    .mg-name {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
    }

    .mg-role {
      font-size: 0.9rem;
      color: $secondary-text-color;
      margin-bottom: 1rem;
    }

    .mg-description {
      font-size: 1rem;
      color: $secondary-text-color;
    }
  }

  .show-more-button {
    margin-top: 3rem;
    text-align: center;

    .btn {
      @extend .btn;
      @extend .btn-outline;
    }
  }
}
