@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/components";

.upcoming-events-section {
  @include section-wrapper;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: stretch;
}

.event-card {
  position: relative;
  background-color: $bg-color;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  transition: all $transition-fast;
  box-shadow: 0 0 10px rgba($secondary-color, 0.2);
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba($secondary-color, 0.4);
  }

  .image-wrapper {
    position: relative;
    margin-bottom: 1rem;

    img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .beginner-label {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: lighten($bg-color, 10%);
    color: $success-color;
    font-size: $font-size-xs;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 600;
    box-shadow: 0 0 5px rgba($success-color, 0.3);
    z-index: 3;
  }

  .event-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h3 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      min-height: 4.5rem;
      @include truncate-lines(3)
    }

    .event-date {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      img {
        width: 16px;
        height: 16px;
      }

      span {
        font-size: $font-size-sm;
      }
    }

    p {
      flex-grow: 0;
      margin-bottom: 1rem;
    }

    .event-actions {
      margin-top: auto;

      .btn {
        margin-top: 1rem;
        padding: 0.5rem 1.25rem;
      }
    }
  }
}
