<div class="calendar-nav">
  <button
    class="btn btn-sm btn-outline"
    (click)="prevMonth()"
    [style.visibility]="canGoPrev() ? 'visible' : 'hidden'"
  >
    «
  </button>

  <span class="calendar-title">{{ formattedCurrentMonth() }}</span>

  <button
    class="btn btn-sm btn-outline"
    (click)="nextMonth()"
    [style.visibility]="canGoNext() ? 'visible' : 'hidden'"
  >
    »
  </button>
</div>

<div class="calendar">
  <div class="calendar-header">
    @for (dayName of dayNames; track dayName) {
    <div class="day-name">{{ dayName }}</div>
    }
  </div>

  <div class="calendar-body" [class]="modeClass()">
    @for (day of visibleDays(); track trackByDate(day)) {
    <div
      class="calendar-day"
      [class.outside-month]="!isSameMonth(day, currentMonth())"
      [class.selected]="selectedDate() === format(day, 'yyyy-MM-dd')"
      [class.reserved]="isReserved(day)"
      [class.disabled]="
        isPastDay(day) ||
        !isSameMonth(day, currentMonth()) ||
        (!editMode() && (selectionDisabled() || isReserved(day)))
      "
      (click)="handleClick(day)"
    >
      {{ format(day, "d") }}

      @if (canShowHours(day)) {
      <div class="hour-grid">
        @for (isTaken of getHourlyAvailability(day); let i = $index; track i) {
        <div
          class="hour-block"
          [class.taken]="isTaken"
          [title]="17 + i + ':00 - ' + (18 + i) + ':00'"
          (click)="onHourClick(day, i)"
        ></div>

        }
      </div>
      }
    </div>
    }
  </div>
</div>
