@import 'abstracts/variables';

.link-like:hover {
    cursor: pointer;
    border: 1px solid $secondary-text-color;
    border-radius: 5px;
    box-sizing: border-box;
    color: $secondary-text-color;
    padding: 0.5rem;
  
}