@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/components';

.stepper-wrapper {
  @include section-wrapper;

  .confirmation-step {
    text-align: center;

    p {
      font-size: $font-size-lg;
      margin-top: 1rem;
    }

    .btn {
      min-width: 150px;
    }
  }
}
