@keyframes spin-d20 {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .d20-icon {
    display: inline-block;
    transition: transform 1s ease-in-out;
    will-change: transform;
  }
  
  .d20-icon.spin {
    animation: spin-d20 0.2s ease-in-out;
  }
  