<nav class="nav-bar">
  <a routerLink="/" class="navbar-brand">Ragnarok</a>

  <ul class="nav-bar-nav d-none d-lg-flex">
    @for (link of menuLinks; track link.label) {
      @if (!link.children) {
        <li><a [routerLink]="link.path">{{ link.label }}</a></li>
      } @else {
        <li ngbDropdown class="dropdown">
          <a ngbDropdownToggle class="dropdown-toggle" role="button">
            {{ link.label }}
          </a>
          <ul ngbDropdownMenu>
            @for (child of link.children; track child.label) {
              <li>
                <a
                  [routerLink]="child.path"
                  [target]="child.target"
                  [rel]="child.target === '_blank' ? 'noopener noreferrer' : null"
                  class="dropdown-item"
                >
                  {{ child.label }}
                </a>
              </li>
            }
          </ul>
        </li>
      }
    }
    <li><app-user-menu></app-user-menu></li>
  </ul>

  <div class="nav-bar-mobile d-flex d-lg-none align-items-center gap-3">
    <app-user-menu></app-user-menu>
    <button class="offcanvas-toggle" (click)="openOffcanvas(offcanvas)">
      <img
        ngSrc="icons/d20.svg"
        alt="Kostka k20"
        width="32"
        height="32"
        class="d20-icon"
      />
    </button>
  </div>
</nav>

<ng-template #offcanvas let-close="close">
  <div class="offcanvas-menu">
    <button class="close-btn" (click)="close()">✖</button>
    <h2 class="menu-title">Menu</h2>
    <ul class="offcanvas-links">
      @for (link of menuLinks; track link.label) {
        @if (!link.children) {
          <li>
            <a [routerLink]="link.path" (click)="close()">
              {{ link.label }}
            </a>
          </li>
        } @else {
          <li>
            <button
              class="offcanvas-toggle-submenu"
              (click)="toggleMobileSection(link.label)"
            >
              {{ link.label }}
              <span [class.expanded]="mobileExpanded.get(link.label)">▾</span>
            </button>
            <ul
              class="offcanvas-submenu"
              [class.open]="mobileExpanded.get(link.label)"
            >
              @for (child of link.children; track child.label) {
                <li>
                  <a
                    [routerLink]="child.path"
                    (click)="close()"
                    >{{ child.label }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
      }
    </ul>
  </div>
</ng-template>
