<nav class="nav-bar">
  <h3 class="dark-color m-3">Ragnarok | Pokoje RPG</h3>
  <ul class="nav-bar-nav flex-row-end">
    @for (link of menuLinks; track link.path) {
    <li>
      <a [routerLink]="link.path">{{ link.label }}</a>
    </li>
    }
  </ul>

  <button class="offcanvas-toggle" (click)="openOffcanvas(offcanvas)">
    <img
      ngSrc="icons/d20.svg"
      width="40"
      height="40"
      alt="Kostka k20"
      class="icon-filter-dark d20-icon"
    />
  </button>
</nav>

<ng-template #offcanvas let-close="close">
  <button class="close-btn" (click)="close()">✖</button>
  <h2>Menu</h2>
  <ul>
    @for (link of menuLinks; track link.path) {
    <li>
      <a [routerLink]="link.path" (click)="close()">{{ link.label }}</a>
    </li>
    }
  </ul>
</ng-template>
