@import "abstracts/variables";
@import "abstracts/mixins";

@media (max-width: $breakpoint-mid) {
  header {
  justify-content: center;
  @include flex-wrapper(column);
  }
}

.logo {
  width: 200px;
  height: auto;
}

a {
  all: unset;
  cursor: pointer;

  &:hover {
    all: unset;
    cursor: pointer;
  }
}

.container {
  position: relative;
}

.icon {
  height: 1em;
  width: 1em;
  margin-right: 10px;
  filter: $icon-filter;
}

.phone {
  all: unset; 
  cursor: pointer;
}

.social-icons {
  gap: 15px;
  width: 100%;

  a {
    @include responsive-font-size(20px);
    padding: 0.5rem;
    display: inline-block; // konieczne, aby transform działał poprawnie
    transition: transform 0.6s ease, color 0.3s ease, border 0.3s ease;

    &:hover {
      // border: 1px solid $secondary-text-color;
      // border-radius: 5px;
      box-sizing: border-box;
      color: $secondary-text-color;
      transform: rotate(360deg);
    }

    @media (max-width: $breakpoint-sm) {
      width: unset;      
    }
  }

  
}

@media (max-width: $breakpoint-sm) {
  .display-on-large {
    display: none;
  }
}