@import "abstracts/variables";
@import "abstracts/mixins";

@media (max-width: $breakpoint-sm) {
  header {
  justify-content: center;
  @include flex-wrapper(column);
  }
}

.logo {
  width: 200px;
  height: auto;
}

.icon {
  height: 1em;
  width: 1em;
  margin-right: 10px;
  filter: $icon-filter;
}

.phone {
  all: unset; 
  // @include responsive-font-size(14px);
  cursor: pointer;
}

.social-icons {
  gap: 15px;
  width: 100%;
  @include flex-wrapper(row, center, center);;

  a {
    @include responsive-font-size(20px);
    padding: 0.5rem;
    width: 10%;

    &:hover {
      border: 1px solid $secondary-text-color;
      border-radius: 5px;
      box-sizing: border-box;
      color: $secondary-text-color;
    }

    @media (max-width: $breakpoint-sm) {
      width: unset;      
    }
  }

  
}

@media (max-width: $breakpoint-sm) {
  .display-on-large {
    display: none;
  }
}