@import "abstracts/variables";
@import "abstracts/mixins";

@media (max-width: $breakpoint-sm) {
  header {
  justify-content: center;
  @include flex-wrapper(column);
  }
}

.logo {
  width: 200px;
  height: auto;
}

.icon {
  height: 1em;
  width: 1em;
  margin-right: 10px;
  filter: $icon-filter;
}

@media (max-width: $breakpoint-sm) {
  .display-on-large {
    display: none;
  }
}