<header>
  <div>
    <a href="https://ragnarok-rooms.pl" style="all: unset; cursor: pointer;"><img src="ragnarok.png" class="logo" alt="Ragnarok | Pokoje RPG" /></a>
  </div>
  <div>
    <div class="flex-column-default display-on-large pb-4">
      <h1>Pokoje do sesji RPG</h1>
      <h3>Gdzie legendy pisze się kostkami</h3>
    </div>
    <div class="flex-column-default">
      <h5 style="display: flex; align-items: center; color: #fbf5be">
        <img
          src="icons/1.svg"
          alt="Ikona rogu"
          class="icon"
        />
        Rezerwacje: <a href="tel:+48533616491" style="all: unset; cursor: pointer;">&nbsp;+48 533 616 491</a>
      </h5>
    </div>
  </div>
</header>
