footer {
  background-color: $secondary-color;
  color: $bg-color;
  padding: 2rem 0;
  text-align: center;
  @include flex-wrapper(column);

  .navbar-nav {
    gap: 10px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    @include flex-wrapper(row, center, center);;

    li {
      position: relative;

      a, button {
        color: $bg-color;
        text-decoration: none;
        padding: 0.5rem;
        position: relative;
        @include responsive-font-size(11px);

        &:hover {
          border: 1px solid $secondary-text-color;
          border-radius: 5px;
          box-sizing: border-box;
          color: $secondary-text-color;
        }

        &::after {
          position: absolute;
          @include responsive-font-size(11px);
          content: "|";
          margin-left: 10px;
          top: 6px;
          color: lighten($bg-color, 20%);
        }
      }

      &:last-child a::after {
        content: "";
      }
    }
  }

  .footer-summary {
    font-size: 0.9rem;
    color: lighten($bg-color, 20%);
  }

  .social-icons {
    gap: 15px;
    @include flex-wrapper(row);

    a {
      font-size: 1.5rem;
      padding: 0.5rem;

      &:hover {
        border: 1px solid $secondary-text-color;
        border-radius: 5px;
        box-sizing: border-box;
        color: $secondary-text-color;
      }
    }
  }
}