footer {
  background-color: $secondary-color;
  color: $bg-color;
  padding: 2rem 0;
  text-align: center;
  @include flex-wrapper(column);

  .navbar-nav {
    gap: 15px;
    margin-bottom: 1rem;
    @include flex-wrapper(row);

    li {
      position: relative;

      a {
        color: $bg-color;
        text-decoration: none;

        &:hover {
          color: darken($bg-color, 10%);
        }

        &::after {
          content: "|"; // lub "/"
          margin-left: 10px;
          color: lighten($bg-color, 20%);
        }
      }

      &:last-child a::after {
        content: "";
      }
    }
  }

  .footer-summary {
    font-size: 0.9rem;
    color: lighten($bg-color, 20%);
  }

  .social-icons {
    gap: 15px;
    @include flex-wrapper(row);

    a {
      font-size: 1.5rem;

      &:hover {
        color: darken($bg-color, 15%);
      }
    }
  }
}