header {
    background-color: $bg-color;
    color: $secondary-text-color;
    padding: 2rem;
    @include flex-wrapper(row);
    
    p {
      text-align: center;
      font-size: 1.2rem;
      color: $secondary-text-color;
    }
  }

  @media (max-width: $breakpoint-sm) {
    
    .header {
      padding: 10px;
      background-color: $bg-color;
    }
  }