<section class="upcoming-events-section">
  <div class="container">
    <h2 class="section-title">Nadchodzące wydarzenia</h2>
    <p class="section-subtitle">
      Dołącz do nas na specjalne wydarzenia, warsztaty i sesje one-shot.
    </p>

    <div class="events-grid">
      @for (event of upcomingEvents; let i = $index; track i) {
      <div class="event-card">
        <div class="image-wrapper">
          <img [src]="event.image" [alt]="event.name" />
          @if (event.isForBeginners) {
          <span class="beginner-label">Dla początkujących</span>
          }
        </div>
        <div class="event-content">
          <h3>{{ event.name }}</h3>
          <div class="event-date">
            <img src="/icons/calendar.svg" alt="calendar" />
            <span>{{ event.eventDate | date: 'dd.MM.yyyy'}}</span>
          </div>
          <p>{{ event.shortDescription }}</p>
          <div class="event-actions">
            <a [routerLink]="['/event', event.id]" class="btn btn-outline">
              Szczegóły
            </a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
