<div class="my-reservations-wrapper full-height">
  <div class="container">
    <h2 class="section-title">Moje Drużyny</h2>

    @if (canShowGmSection() && gmTeams().length) {
      <h3 class="mt-3">Mistrz Gry</h3>
      <app-team-list
        [teams]="gmTeams()"
        [showDetailsButton]="true"
        (showDetails)="onShowDetails($event)"
        (editParty)="onEditParty($event)"
      />
      <hr />
    }

    @if (ownerTeams().length) {
      <h3 class="mt-3">Założyciel</h3>
      <app-team-list
        [teams]="ownerTeams()"
        [showDetailsButton]="true"
        (showDetails)="onShowDetails($event)"
        (editParty)="onEditParty($event)"
      />
      <hr />
    }

    @if (memberTeams().length) {
      <h3 class="mt-3">Moje drużyny</h3>
      <app-team-list
        [teams]="memberTeams()"
        [showDetailsButton]="true"
        (showDetails)="onShowDetails($event)"
        (editParty)="onEditParty($event)"
      />
    }

    @if (isEmpty()) {
      <p>Nie należysz do żadnej drużyny.</p>
    }
  </div>

  <ng-template #leaveSuccessToast>
    <strong>Sukces!</strong> Opuszczenie drużyny zakończone powodzeniem.
  </ng-template>

  <ng-template #leaveErrorToast>
    <strong>Błąd!</strong> Wystąpił problem przy opuszczaniu drużyny.
  </ng-template>
</div>
