<div class="component-container">
  <div class="flex-row-align-start flex-column-start-mid gap-2 w-100">

    <div class="card card-dark mid-screens w-25">
      <h2 class="card-header header-dark w-100 text-center">Kategorie</h2>
      <app-category-list
        [categories]="categories"
        [subcategories]="subcategories"
        (subcategorySelected)="onSubcategoryClick($event)"
      ></app-category-list>
    </div>

    <div ngbDropdown class="medium-screens w-100">
      <button
        type="button"
        class="btn btn-outline w-100"
        id="categories"
        ngbDropdownToggle
      >
        Kategorie
      </button>
      <div ngbDropdownMenu aria-labelledby="categories" class="w-100">
        <app-category-list
          [categories]="categories"
          [subcategories]="subcategories"
        ></app-category-list>
      </div>
    </div>

    <div class="flex-column-all-start gap-3 h-100"
         [ngClass]="{'w-100': !isMobile()}">
         @if(!filteredOffers.length) {
          <div class="align-self-center text-center">Brak pasujących ofert.</div>
         }
      @for (offer of filteredOffers; track offer.title) {
      <div
        class="card card-dark card-350"
        [ngClass]="{ 'mobile-background': isMobile(), 'w-100': !isMobile() }"
        [style.backgroundImage]="
          isMobile() ? 'url(' + offer.imageURL + ')' : 'none'
        "
      >
        <div class="card-body flex-row w-100">
          @if (!isMobile()) {
          <div>
            <img
              [src]="offer.imageURL"
              [alt]="offer.title"
              width="260"
              height="326"
            />
          </div>
          }
          <div
            class="flex-column-align-end w-100 h-100 flex-column-space-around-xs"
          >
            <h3 class="card-title title-dark">{{ offer.title }}</h3>
            <div class="card-text card-text-dark">
              Kategorie:
              {{ getCategoryName(offer.categoryId, CategoryType.CATEGORY) }},
              {{
                getCategoryName(offer.subcategoryId, CategoryType.SUBCATEGORY)
              }}
            </div>
            <div
              class="flex-column-align-end gap-2 flex-column-between-center-xs"
            >
              <div class="card-text card-text-dark large">
                <strong>Cena:</strong> {{ offer.price }} PLN
              </div>
              <div class="card-text card-text-dark">
                @if (offer.stock > 0) {
                <strong>Sztuk na stanie:</strong> {{ offer.stock }}
                } @else {
                <strong class="text-danger">Produkt niedostępny</strong>
                }
              </div>
              <button
                class="btn btn-primary w-75"
                [routerLink]="['/offer', offer.id]"
              >
                Szczegóły
              </button>

              <button
                class="btn btn-warning w-75"
                [disabled]="!offer.buyNowLink || !offer.stock"
                (click)="buyNow(offer.buyNowLink)"
              >
                Kup Teraz
              </button>
            </div>
          </div>
        </div>
      </div>
      }

      @if (totalOffers > pageSize) {
      <ngb-pagination
        [collectionSize]="totalOffers"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [boundaryLinks]="true"
        [maxSize]="3"
        size="sm"
        class="d-flex justify-content-center w-100"
      >
      </ngb-pagination>
    }
    </div>
  </div>
</div>
