<div class="modal-header">
  <h5 class="modal-title">Polityka prywatności</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>
<div class="modal-body">
  <p>
    W FBE Solutions szanujemy Twoją prywatność i dokładamy wszelkich starań, aby
    Twoje dane osobowe były chronione zgodnie z obowiązującymi przepisami.
    Niniejsza Polityka prywatności wyjaśnia, jakie dane zbieramy, jak je
    przetwarzamy oraz jakie są Twoje prawa.
  </p>

  <h5>1. Jakie dane zbieramy?</h5>
  <p>
    Gromadzimy jedynie dane niezbędne do zapewnienia pełnej funkcjonalności
    naszej strony i usług. Mogą to być m.in.: adresy IP, dane kontaktowe,
    informacje o sesjach przeglądania.
  </p>

  <h5>2. Cel przetwarzania danych</h5>
  <p>
    Dane zbieramy w celu lepszego dostosowania usług, analizy ruchu na stronie,
    kontaktu z użytkownikami oraz ewentualnych działań marketingowych (za Twoją
    zgodą).
  </p>

  <h5>3. Twoje prawa</h5>
  <p>
    Masz prawo do dostępu do swoich danych, ich poprawiania, usunięcia lub
    ograniczenia przetwarzania. W każdej chwili możesz się z nami skontaktować,
    aby dowiedzieć się więcej.
  </p>

  <p>
    Jeżeli masz jakiekolwiek pytania dotyczące polityki prywatności, prosimy o
    kontakt na adres
    <a href="mailto:kontakt@fbe-solutions.pl">kontakt&#54;fbe-solutions.pl</a>.
  </p>
</div>
<div class="modal-footer">
  <button type="button"  class="btn btn-primary" (click)="close()">
    Zamknij
  </button>
</div>
