<div class="card card-dark reservation-card">
  <div class="card-body">
    <div class="card-meta justify-content-center align-items-start">
      <h3 class="truncate-two-lines">{{ team().name }}</h3>
    </div>

    <div class="card-body text-start">
      <p>
        <strong>Właściciel:</strong> {{ owner() ? ownerDisplayName : "Brak" }}
      </p>
      <p><strong>Rola: </strong>{{ TeamRoleLabels[TeamRole.Owner] }}</p>
      <div class="card-text-dark mb-2">
        <strong>Systemy: </strong>
        @if (systems().length > 0) { @for (system of systems(); track system.id)
        {
        <span class="badge bg-primary me-1">{{ system.name }}</span>
        } } @else {
        <em>Brak systemów</em>
        }
      </div>
      <div class="card-text-dark mb-2">
        <strong>Styl gry: </strong>
        @if (showStyle()) { @for (tag of profile()!.styleTags; track tag) {
        <span class="badge bg-secondary me-1">{{ GmStyleTagLabels[tag] }}</span>
        } } @else {
        <em>Brak stylów</em>
        }
      </div>

      <div class="card-actions">
        @if (canEditParty()) {
        <button class="btn btn-primary" (click)="onEditParty()">
          Edytuj drużynę
        </button>
        }
        <button ngbAutofocus class="btn btn-info" (click)="onShowDetails()">
          Zobacz szczegóły
        </button>
      </div>
    </div>
  </div>
</div>
