@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-wrapper($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin responsive-font-size($size) {
  font-size: $size;

  @media (min-width: $breakpoint-sm) {
    font-size: $size * 1.2;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: $size * 1.4;
  }
}

@mixin td-width($size) {
  width: $size;
}

@mixin truncate-lines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin responsive-width($default, $lg, $sm) {
  width: $default;

  @media (max-width: $breakpoint-lg) {
    width: $lg;
  }

  @media (max-width: $breakpoint-sm) {
    width: $sm;
  }
}

@mixin gold-gradient-text {
  background: linear-gradient(
    90deg,
    rgba(232, 188, 90, 1) 0%,
    rgba(123, 79, 34, 1) 64%,
    rgba(158, 113, 48, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Mixin dla siatki kart
@mixin mg-grid($columns: 3) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

@mixin form-control {
  background-color: $bg-color;
  border: 1px solid $border-color;
  color: $text-color;
  padding: 0.5rem;
  font-size: $font-size-md;
  border-radius: 4px;
  transition: border-color $transition-fast;

  &:focus {
    border-color: $primary-color;
    box-shadow: none;
    outline: none;
  }

  &.is-invalid {
    border-color: $danger-color;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px $bg-color inset !important;
    -webkit-text-fill-color: $text-color !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
