@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-wrapper($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin responsive-font-size($size) {
  font-size: $size;
  
  @media (min-width: $breakpoint-sm) {
      font-size: $size * 1.2;
  }
  
  @media (min-width: $breakpoint-lg) {
      font-size: $size * 1.4;
  }
}

@mixin td-width($size) {
  width: $size
}
