<div class="registration-panel">
  <h3 class="panel-title">Zarejestruj się</h3>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="registration-form"
  >
    <app-user-form
      [form]="registerForm"
      [showEmail]="true"
      [showPassword]="true"

    />

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="registerForm.invalid"
    >
      Zarejestruj
    </button>

    <ng-template #registrationSuccessToast>
      <div class="toast-body d-flex flex-column align-items-center">
        <span><strong>Sukces!</strong> Rejestracja zakończona pomyślnie.</span>
        <span>Sprawdź swoją skrzynkę e-mail, aby aktywować konto.</span>
      </div>
    </ng-template>
  </form>

  @if (errorMessage) {
  <p class="text-danger text-center mt-3">{{ errorMessage }}</p>
  }
</div>
