@if (eventData) {
<section class="event-details-section">
  <div class="container flex-column gap-4">
    
    <div class="event-image-wrapper">
      <img
        class="event-image"
        [src]="eventData.image"
        [alt]="eventData.name"
        width="100%"
        height="auto"
      />
    </div>

    @if (eventData.eventDate && (eventData.eventDate < today)) {
      <ngb-alert type="danger" class="w-100 text-center">
        UWAGA! Wydarzenie archiwalne!
      </ngb-alert>
    }

    <h2 class="section-title text-center">{{ eventData.name }}</h2>

    <div class="event-description">
      @let paragraphs = eventData.longDescription.split('\n');
      @for (paragraph of paragraphs; track paragraph) {
        <p class="event-paragraph">{{ paragraph }}</p>
      }
    </div>

    <table class="table table-dark-style align-middle font-size-small">

      <tbody>
        <tr>
          <th scope="row">
            {{ eventData.isRecurring ? "Następna data:" : "Data spotkania:" }}
          </th>
          <td>{{ eventData.eventDate | date : 'dd.MM.yyyy' }}</td>
        </tr>
        <tr>
          <th scope="row">Godzina rozpoczęcia:</th>
          @let eventTime = eventData.time | slice:0:5;
          <td>
            {{ eventData.time !== '00:00:00' ? eventTime : "Cały dzień" }}
          </td>
        </tr>
        <tr>
          <th scope="row">Koszt uczestnictwa:</th>
          <td>
            {{
              eventData.cost && eventData.cost >= 0
                ? eventData.cost + ' zł'
                : 'Bezpłatny'
            }}
          </td>
        </tr>
        <tr>
          <th scope="row">Link do wydarzenia:</th>
          <td>
            @if (eventData.facebookLink) {
              <button
                class="btn btn-info btn-sm"
                (click)="openFacebook(eventData.facebookLink)">
                Zobacz na Facebooku
              </button>
            } @else {
              <span>Brak wydarzenia</span>
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
}
