<div class="component-container">
    <h2 class="section-title">Poznaj ofertę Ragnaroku</h2>
    <div>
      W „Ragnaroku” wiemy, jak ważne są detale – od klimatu po wygodę. Nasze
      salki to przestrzeń stworzona przez graczy dla graczy. Niezależnie od
      tego, czy szykujesz się na sesję RPG, maraton planszówek czy po prostu
      chcesz spotkać się w wyjątkowej atmosferze, u nas znajdziesz idealne
      warunki. Zapoznaj się z naszą ofertą i zobacz, jak łatwo przenieść się do
      świata pełnego przygód!
    </div>
  <div class="image-banner-container">
    <img
      src="strip.avif"
      alt="Banner for services"
      class="image-banner"
    />
  </div>
  <div class="w-100">
    <h4>Salki standardowe</h4>
    <div class="w-100">Koszt obejmuje godzinę wynajmu salki standardowej dla jednej osoby. </div>
    <app-services-table [services]="standardRooms"></app-services-table>
    <h4>Salka VIP</h4>
    <div class="w-100">
      <div class="w-100">Koszt obejmuje godzinę wynajmu salki VIP dla jednej osoby. </div>
      <app-services-table [services]="vipRooms"></app-services-table>
      <div class="disclaimer">
        Przed rezerwacją salki, zapoznaj się z naszym
        <button (click)="openRules('rent')">
          Regulaminem wynajmowania pomieszczeń
        </button>
      </div>
      <div class="disclaimer">
        Uczniowie i studenci otrzymują rabat w wysokości
        <strong>15% od całkowitej kwoty rezerwacji</strong> (jedna zniżka na
        grupę).
      </div>
    </div>
    <div class="w-100">
      <h4>Karnety</h4>
      <app-services-table
        [services]="passes"
        [isServiceByHour]="false"
      ></app-services-table>
      <div class="disclaimer">
        Przed zakupem, zapoznaj się z naszym
        <button (click)="openRules('pass')">Regulaminem karnetów</button>
      </div>
      <div class="disclaimer">
        Uczniowie i studenci otrzymują rabat w wysokości
        <strong>5% od całkowitej wartości karnetu</strong>.
      </div>
    </div>
    <div class="w-100">
      <h4>Usługi dodatkowe</h4>
      <div class="w-100">Koszt obejmuje godzinę sesji z profesjonalnym Mistrzem Gry. Koszt jest stały, niezależny od liczby uczestników.</div>
      <app-services-table
        [services]="additionalServices"
        [isServiceByHour]="false"
      ></app-services-table>
    </div>
  </div>
</div>
