<section class="services-section">
  <div class="container">
    <h2 class="section-title">Poznaj ofertę Ragnaroku</h2>
    <p class="section-subtitle">
      W „Ragnaroku” wiemy, jak ważne są detale – od klimatu po wygodę. Nasze salki to przestrzeń stworzona przez graczy dla graczy. Niezależnie od tego, czy szykujesz się na sesję RPG, maraton planszówek czy po prostu chcesz spotkać się w wyjątkowej atmosferze, u nas znajdziesz idealne warunki.
    </p>

    <div class="price-category">
      <h3>Salki standardowe</h3>
      <p>Koszt obejmuje godzinę wynajmu salki standardowej dla jednej osoby.</p>
      <app-services-table [services]="standardRooms"></app-services-table>
    </div>

    <div class="price-category">
      <h3>Salka VIP</h3>
      <p>Koszt obejmuje godzinę wynajmu salki VIP dla jednej osoby.</p>
      <app-services-table [services]="vipRooms"></app-services-table>
      <div class="disclaimer">
        Przed rezerwacją salki, zapoznaj się z naszym
        <button (click)="openRules('rent')" class="btn btn-plain">Regulaminem wynajmowania pomieszczeń</button>
      </div>
      <div class="disclaimer">
        Uczniowie i studenci otrzymują rabat w wysokości
        <strong>15% od całkowitej kwoty rezerwacji</strong> (zniżka nie obejmuje usługi Mistrza Gry).
      </div>
    </div>

    <div class="price-category">
      <h3>Karnety</h3>
      <app-services-table [services]="passes" [isServiceByHour]="false"></app-services-table>
      <div class="disclaimer">
        Przed zakupem, zapoznaj się z naszym
        <button (click)="openRules('pass')" class="btn btn-plain">Regulaminem karnetów</button>
      </div>
      <div class="disclaimer">
        Uczniowie i studenci otrzymują rabat w wysokości
        <strong>5% od całkowitej wartości karnetu</strong>.
      </div>
    </div>

    <div class="price-category">
      <h3>Usługi dodatkowe</h3>
      <p>
        Koszt obejmuje godzinę sesji z profesjonalnym Mistrzem Gry. Koszt jest stały, niezależny od liczby uczestników.
      </p>
      <app-services-table [services]="additionalServices" [isServiceByHour]="false"></app-services-table>
    </div>
  </div>
</section>
