<div class="reservations-grid" [ngClass]="{ 'centered-reservation': reservations().length === 1 }">
  @for (res of reservations(); track res.id) {
    <app-reservation-card
      [reservation]="res"
      [user]="null"
      [showUserDetails]="showUserDetails()"
      [showManagePlaceholder]="showManagePlaceholder()"
      [showDetailsButton]="showDetailsButton()"
      [showCancelButton]="showCancelButton()"
      (manage)="manage.emit(res)"
      (showDetails)="showDetails.emit(res)"
      (cancel)="cancel.emit(res)"
    />
  }
</div>
