@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  @include flex-wrapper(row, center, center);
  height: auto;

  @media (orientation: landscape) {
    min-height: unset;
    height: auto;
  }
}

main {
  @include flex-wrapper(row, center, center);
  width: 100%;
}

.carousel-item {
  @include flex-wrapper(row, center, center);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  @include flex-wrapper(row, center, center);
}

.image-container {
  position: relative;
  z-index: 1;
  flex: 1;
  width: 100%;
  overflow: hidden;
  transition: transform 0.6s ease;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.6s ease;
    transform-origin: center;
  }
}

.news-wrapper {
  gap: 1rem;
  margin: auto;
  width: 90%;

  .image-container {
    width: 50%;
  }

  .content {
    width: 50%;
    gap: 10px;
  }

  &.mobile-background {
    background-size: cover;
    background-position: top;
    position: relative;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
      border-radius: 5px;
    }

    .content {
      width: 100%;
      padding: 1rem;
      position: relative;
      z-index: 2;
    }
  }

  @media (max-width: $breakpoint-md) {
    .image-container {
      width: 100%;
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .content {
      border-radius: 5px;
    }

    .image-container {
      display: none;
    }
  }

  @media (max-width: $breakpoint-xs) {
    .image-container {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
