@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  @include flex-wrapper(row, center, center);
  min-height: 435px;
  height: 100%;

  @media (max-width: $breakpoint-md) {
    min-height: 236px;
    @include flex-wrapper(row, center, start);
  }
}

main,
.carousel-item,
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  @include flex-wrapper(row, center, center);
}

.news-wrapper {
  gap: 1rem;
  margin: auto;
  width: 90%;

  .image-container {
    width: 50%;
    overflow: hidden;

    img {
      object-fit: contain;
      object-position: center;
    }
  }

  .content {
    width: 50%;
    gap: 10px;
  }

  &.mobile-background {
    background-size: cover;
    background-position: top;
    position: relative;
    border-radius: 5px;
    min-height: 220px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
      border-radius: 5px;
    }

    .content {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: 10px;
    }
  }

  @media (max-width: $breakpoint-md) {
    .image-container {
      width: 100%;
    }
  }

  @media (max-width: $breakpoint-sm) {
    .content {
      border-radius: 5px;
    }

    .image-container {
      display: none;
    }
  }

  @media (max-width: $breakpoint-xs) {
    .image-container {
      width: 100%;
    }
  }
}

@media (orientation: landscape) {
  :host {
    height: auto;
  }
}
