<div class="room-selection-wrapper">
  <h2 class="section-title">Wybierz salę do gry</h2>

  <div class="room-buttons">
    @for (room of rooms(); track room) {
    <button
      class="btn btn-outline-light"
      [class.active]="store.selectedRoom() === room"
      (click)="selectRoom(room)"
    >
      {{ room }}
    </button>
    }
  </div>

  @if (isGoldenBlocked()) {
  <div class="alert alert-warning">
    Masz już aktywną rezerwację. Nie możesz dokonać kolejnej.
  </div>
  } @if (isMemberClubBlocked()) {
  <div class="alert alert-warning">
    W tym tygodniu masz już rezerwację w jednej z sal klubowych (Asgard lub
    Alfheim). Możesz zarezerwować inną salę.
  </div>
  }

  <div class="calendar-nav">
    <button
      class="btn btn-sm btn-outline"
      (click)="prevMonth()"
      [style.visibility]="canGoPrev() ? 'visible' : 'hidden'"
    >
      «
    </button>

    <span class="calendar-title">{{ formattedCurrentMonth() }}</span>

    <button
      class="btn btn-sm btn-outline"
      (click)="nextMonth()"
      [style.visibility]="canGoNext() ? 'visible' : 'hidden'"
    >
      »
    </button>
  </div>

  <div class="calendar">
    <div class="calendar-header">
      @for (dayName of dayNames; track dayName) {
      <div class="day-name">{{ dayName }}</div>
      }
    </div>

    <div class="calendar-body">
      @for (day of visibleDays(); track trackByDate(day)) {
      <div
        class="calendar-day"
        [class.outside-month]="!isSameMonth(day, currentMonth())"
        [class.selected]="selectedDate() === format(day, 'yyyy-MM-dd')"
        [class.reserved]="isReserved(day)"
        [class.disabled]="
          isPastDay(day) ||
          !isSameMonth(day, currentMonth()) ||
          isSelectionDisabled()
        "
        (click)="selectDate(day)"
      >
        {{ format(day, "d") }}

        @if (canShowHours(day)) {
        <div class="hour-grid">
          @for (isTaken of getHourlyAvailability(day); let i = $index; track i)
          {
          <div
            class="hour-block"
            [class.taken]="isTaken"
            [title]="17 + i + ':00 - ' + (18 + i) + ':00'"
          ></div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>

  @if (requiresClubConfirmation()) {
  <div class="form-check mt-3">
    <input
      class="form-check-input"
      type="checkbox"
      id="clubConfirm"
      [checked]="confirmedTeam()"
      (change)="onClubCheckboxChange($event)"
    />
    <label class="form-check-label" for="clubConfirm">
      Oświadczam, że wszyscy gracze posiadają członkostwo Klubu Gier Fabularnych
      Ragnaroku.
    </label>
  </div>
  }
</div>
