<div class="room-selection-wrapper">
  <h2 class="section-title">Wybierz salę do gry</h2>

  <div class="room-buttons">
    @for (room of rooms(); track room) {
    <button
      class="btn btn-outline-light"
      [class.active]="store.selectedRoom() === room"
      (click)="selectRoom(room)"
    >
      {{ room }}
    </button>
    }
  </div>

  @if (isGoldenBlocked()) {
  <div class="alert alert-warning">
    Masz już aktywną rezerwację. Nie możesz dokonać kolejnej.
  </div>
  } @if (isMemberClubBlocked) {
  <div class="alert alert-warning">
    W tym tygodniu masz już rezerwację w jednej z sal klubowych (Asgard lub
    Alfheim). Możesz zarezerwować inną salę.
  </div>
  } @if (requiresClubConfirmation()) {
  <div ngbDropdown class="category-dropdown">
    <button
      type="button"
      class="btn btn-outline"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Wybierz drużynę
    </button>
    <div ngbDropdownMenu aria-labelledby="PartyDropdown">
      @for (party of userParties(); track $index) {
      <button ngbDropdownItem (click)="selectParty(party.id)">
        {{ party.name }}
      </button>
      }
    </div>
  </div>
  @if (requiresClubConfirmation() && !store.confirmedParty()) {
  <div class="text-danger">
    Aby zarezerwować salę klubową, musisz wybrać drużynę.
  </div>
  }

  @if (selectedPartyId()) {
  <div class="flex-row-align-center">
    <span class="me-2"
      >Aktualnie wybrana drużyna: {{ getSelectedPartyName() }}</span
    >
    <button
      type="button"
      class="btn btn-danger btn-close-x"
      (click)="removeSelectedParty()"
    >
      x
    </button>
  </div>
  } }

  <app-universal-calendar
    [dailyDataMap]="reservationsMap()"
    [mapDailyToHourlyAvailability]="mapReservationToHours()"
    [selectedDate]="selectedDate()"
    [selectionDisabled]="isSelectionDisabled()"
    [room]="selectedRoom()"
    [isMemberClubBlocked]="isMemberClubBlocked"
    (dateSelected)="selectDate($event)"
    (monthChanged)="onMonthChanged($event)"
  ></app-universal-calendar>

  @if (requiresClubConfirmation()) {
  <div class="form-check mt-3">
    <input
      class="form-check-input"
      type="checkbox"
      id="clubConfirm"
      [checked]="confirmedTeam()"
      (change)="onClubCheckboxChange($event)"
    />
    <label class="form-check-label" for="clubConfirm">
      Oświadczam, że wszyscy gracze posiadają członkostwo Klubu Gier Fabularnych
      Ragnaroku.
    </label>
  </div>
  }
</div>
