<div class="user-menu" (click)="toggleMenu()" [class.open]="isOpen">
  <span class="icon">
    <img src="/icons/viking-head.svg" alt="User Menu" width="24" height="24" />
    @if (pendingCount > 0) {
    <span
      class="notification-badge"
      [class.wider]="pendingCount > 9 && pendingCount <= 99"
      [class.widest]="pendingCount > 99"
      [attr.aria-label]="'Oczekujące decyzje: ' + pendingCountLabel()"
    >
      {{ pendingCountLabel() }}
    </span>
    }
  </span>

  @if (isOpen) {
  <div class="submenu" (click)="$event.stopPropagation()">
    @if (!auth.user()) {
    <app-login />
    } @else {
    <app-user-menu-panel></app-user-menu-panel>
    }
  </div>
  }
</div>
