<div class="component-container w-100 align-items-center">
  <div class="flex-column-center">
    <h1>Zakazane Terytorium</h1>
    <p>Nie masz glejtu, by przekroczyć tę granicę.</p>
    <p>
      Może kiedyś otrzymasz odpowiednie zezwolenie od Strażników Ról...
    </p>
    <p>
      Na razie wróć na <a routerLink="/"><i class="bi bi-compass"></i> szlak główny</a>, nim
      zostaniesz zauważony przez Smoka.
    </p>
    <img
      ngSrc="/dragon.avif"
      alt="Smok strzegący zakazanego obszaru"
      width="294"
      height="210"
      priority
    />
  </div>
</div>
