<ngb-carousel 
  #carousel 
  [showNavigationArrows]="showNavigation()" 
  [showNavigationIndicators]="false" 
  [interval]="0" 
  class="tech-carousel d-flex" 
>
@for (group of groupedItems(); track group[0].id) {
    <ng-template ngbSlide class="w-100">
      <div class="d-flex justify-content-center flex-wrap gap-3">
        @for (item of group; track item.id) {
          <div class="carousel-card">
            <div class="card text-center h-100">
              <img [src]="item.imageURL" [alt]="item.name" class="card-img-top img-fluid p-2" />
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">
                  {{ item.description }} 
                  @if (item.longDescription) {
                    <span class="card-long-text">{{ item.longDescription }}</span>
                  }
                </p>
                @if (item.ctaButton) {
                  <a [href]="item.ctaButton" target="_blank" rel="noopener" class="btn btn-primary">Visit</a>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </ng-template>
  }
</ngb-carousel>
