<div class="my-reservations-wrapper full-height">
  <div class="container">
    <h2 class="section-title">Moje Rezerwacje</h2>

    @let filtered = filteredReservations(); @if (filtered) {
      @if (filtered.length > 0) {
        <app-reservation-list
          [reservations]="filtered"
          [showCancelButton]="true"
          [showManagePlaceholder]="true"
          [showUserDetails]="false"
          [showDetailsButton]="false"
          (cancel)="onManage($event)"
        />
      } @else {
        <p>Brak rezerwacji.</p>
      }
    } @else {
      <p>Ładowanie rezerwacji...</p>
    }
  </div>

  <ng-template #cancelSuccessToast>
    <strong>Sukces!</strong> Rezerwacja została odwołana.
  </ng-template>

  <ng-template #cancelAbortToast>
    <strong>Przerwano!</strong> Odwoływanie rezerwacji zostało przerwane.
  </ng-template>

  <ng-template #cancelErrorToast>
    <strong>Błąd!</strong> Wystąpił problem podczas odwoływania rezerwacji.
  </ng-template>
</div>
